:root {
    --header-color: #9e9e9e;
  --input-background-color: #dfdfdf;
  --button-background-color: #999494;
  --border-color: #707070;
  --link-color: #29d8f1;
  --wrong: red;
  --submit-button-color: #fff;
  --shadow: 0 5px 10px 1px #70707040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.wrong {
  border: 3px solid var(--wrong) !important;
}

.wrong-text {
  color: var(--wrong);
}

.invisible {
  visibility: hidden;
}
