:root {
  --header-color: #9e9e9e;
  /* CORES */
  --green: #4cb687;
  --blue: #1a6aff;
  /* LINK */
  --link-selected: #094bcc;
  --link-color: black;
  --link-color-alt: white;
  /* TEXT */
  --button-text-color: #082f7b;
  --text-color: #000000;
  --text-color-alt: #ffffff;

  --input-background-color: #ffffff;
  --button-background-color: #999494;
  --border-color: #707070;
  --wrong: red;
  --right: green;
  --black: #000000;
  --white: #ffffff;
  --submit-button-color: #fff;
  --shadow: 0 5px 10px 1px #70707040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: sans-serif;
  overflow-x: hidden;
}

.md {
  /*Botão médio*/
  width: 217px;
  height: 42px;
}

.lg {
  /*Botão largo*/
  width: 207px;
  height: 49.5px;
}

.b {
  /*botão comum*/
  border: none;
  border-radius: 1.5rem;
  background-color: var(--green);
  font-size: 1rem;
  color: var(--button-text-color);
  cursor: pointer;
  transition: 0.3s;
}

.hov__blue:hover {
  /*hover azul*/
  background-color: var(--blue);
  color: var(--white);
}

.hov__black:hover {
  /*hover preto*/
  background-color: var(--black);
  color: var(--white);
}

.hov__white:hover {
  /*hover branco*/
  background-color: var(--white);
  color: var(--blue);
}

.hov__underline:hover {
  /*hover underline*/
  text-decoration: underline;
}

.header__nav-a-ativo {
  color: var(--link-selected);
  font-size: 1.2rem;
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/-1;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.header-admin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
}

.header__nav-admin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 25px;
  align-items: center;
}

.header__figure-img {
  width: 300px;
  height: 40px;
}

.header__nav-a {
  color: #000000;
  font-size: 1.2rem;
  text-decoration: none;
}

.header__nav-a:hover {
  color: var(--green);
  text-decoration: underline;
}

.button-sair {
  width: 100px;
  height: 32px;
  border-radius: 15px;
  font-size: 1.1rem;
  background-color: var(--green);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button-sair:hover {
  background-color: var(--blue);
  color: var(--white);
}

body {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-rows: fit-content auto fit-content;
}

.wrong {
  border: 3px solid var(--wrong) !important;
}
.right {
  border: 3px solid var(--right) !important;
}

.wrong-text {
  color: var(--wrong);
}

.invisible {
  visibility: hidden;
}

/* Cabeçalho */

/* nav button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #38c68be0;
  font-size: 16px;
  color: #002775;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
} */
/* nav button:hover {
  background-color: #002775;
  color: #ffffff;
} */

/* Rodape */

footer {
  grid-row: 3/4;
  grid-column: 1/-1;
  background-color: #104fcc;
  width: 100%;
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.footer {
  display: flex;
  background-color: #3673ec;
  width: 92%;
  height: 390px;
  border-radius: 35px;
  padding: 15px;
}

.footer__nav {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}

.footer__nav-img {
  margin-bottom: 10px;
  width: 270px;
  height: 40px;
}

.footer__nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  padding: 4px;
  margin-left: 20px;
  width: 60%;
}

.footer__address {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  justify-content: space-between;
}

.paragrado-endereco {
  margin-bottom: 20px;
}

.footer__contact {
  margin-bottom: 30px;
}
.footer_contact-link {
  color: #ffffff;
  text-decoration: none;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  width: 23%;
  padding: 20px 35px;
  color: #ffffff;
  font-size: 14px;
}

.redes-sociais a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  width: 50%;
}

.paragrafo-redes-sociais {
  margin-bottom: 20px;
}

.rodape-sorteios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
  color: #ffffff;
  font-size: 14px;
}

.rodape-buttom button {
  width: 240px;
  height: 42px;
  border-radius: 20px;
  color: #ffffff;
  margin-top: 10px;
  background-color: #36bf86e0;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.rodape-buttom button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

footer a:hover {
  text-decoration: underline;
}


@media (max-width: 720px) {
  .footer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.footer__nav {
    width: 90%;
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 5px;
    width: 90%;
}

.rodape-sorteios {
  display: flex;
  flex-direction: column;
  gap: 8px;
    width: 90%;
}
}