@import url("./instructions.css");

:root {
  --header-color: #9e9e9e;
  /* CORES */
  --green: #4cb687;
  --blue: #1a6aff;
  --bg-blue: #094bcc;
  /* LINK */
  --link-selected: #094bcc;
  --link-color: black;
  --link-color-alt: white;
  /* TEXT */
  --button-text-color: #082f7b;
  --text-color: #000000;
  --text-color-alt: #ffffff;
  /* INPUT */
  --input-background-color: #ffffff;
  --button-background-color: #999494;
  --border-color: #707070;
  --wrong: red;
  --right: green;
  --black: #000000;
  --white: #ffffff;
  --submit-button-color: #fff;
  --shadow: 0 5px 10px 1px #70707040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  /* width: 100w; */
  font-size: 16px;
  font-family: sans-serif;
  /* overflow-x: hidden; */
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: fit-content auto fit-content;
}

.txt-size-small {
  font-size: 0.9rem;
}
.txt-size-normal {
  font-size: 1rem;
}

.txt-size-normal-medium {
  font-size: 1.5rem;
}

.txt-size-medium {
  font-size: 2rem;
}

.txt-size-large {
  font-size: 3rem;
}

.text-color-alt {
  color: var(--text-color-alt);
}

.sm {
  /*Botão pequeno*/
  width: 120px;
  height: 32px;
}

.md {
  /*Botão médio*/
  width: 217px;
  height: 42px;
}

.lg {
  /*Botão largo*/
  width: 207px;
  height: 49.5px;
}

.b {
  /*botão comum*/
  border: none;
  border-radius: 1.5rem;
  background-color: var(--green);
  font-size: 1rem;
  color: var(--button-text-color);
  cursor: pointer;
  transition: 0.3s;
}

.section__h2 {
  color: var(--blue);
  padding: 4rem;
  text-align: center;
}

.button_wrong {
  /*botão vermelho*/
  background-color: var(--wrong);
  color: var(--text-color-alt);
}

.button_white {
  /*botão vermelho*/
  background-color: var(--white);
  color: var(--text-color);
  border: 1px solid lightgray;
}

.hov__blue:hover {
  /*hover azul*/
  background-color: var(--blue);
  color: var(--white);
}

.hov__black:hover {
  /*hover preto*/
  background-color: var(--black);
  color: var(--white);
}

.hov__white:hover {
  /*hover branco*/
  background-color: var(--white);
  color: var(--blue);
}

.hov__underline:hover {
  /*hover underline*/
  text-decoration: underline;
}

.header__nav-a-ativo {
  color: var(--link-selected);
  font-size: 1.2rem;
  text-decoration: underline;
}

.header {
  grid-row: 1/2;
  grid-column: 1/-1;

  height: fit-content;
  width: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5rem 3rem;
}

.header-admin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.header__nav-admin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
}

.header__nav {
  grid-column: 3/4;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header__nav .b {
  font-weight: bold;
  font-size: 1.3rem;
  width: fit-content;
  height: fit-content;
  padding: 0.8rem 0.7rem;
}

.header__figure-img {
  /* width: 300px;
  height: 40px; */
  width: 25rem;
}

.header__nav-a {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.header__nav-a:hover {
  color: var(--green);
  text-decoration: underline;
}

.button-sair {
  width: 100px;
  height: 32px;
  border-radius: 15px;
  font-size: 1.1rem;
  background-color: var(--green);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button-sair:hover {
  background-color: var(--blue);
  color: var(--white);
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}


.div__marcas-parceiras {
  display: flex;
  justify-content: center;
}

.wrong {
  border: 3px solid var(--wrong) !important;
}
.right {
  border: 3px solid var(--right) !important;
}

.wrong-text {
  color: var(--wrong);
}

.invisible {
  visibility: hidden;
}

.i {
  width: 100%;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.txtarea {
  height: 4rem;
  resize: none;
}

.main {
  grid-column: 1/-1;
  grid-row: 2/3;
  width: 100%;
}

/* Cabeçalho */

/* nav button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #38c68be0;
  font-size: 16px;
  color: #002775;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
} */
/* nav button:hover {
  background-color: #002775;
  color: #ffffff;
} */

/* Rodape */

.footer {
  grid-row: 3/4;
  grid-column: 1/-1;

  margin-top: auto;
  padding: 4rem 0;
  width: 100%;
  /* height: 470px; */
  background-color: var(--bg-blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  background-color: var(--blue);
  height: 390px;
  width: 92%;
  color: var(--text-color-alt);
  border-radius: 2rem;
  padding: 0.5rem 0.25rem;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

.footer__nav-img {
  margin: 0 0 1rem 0;
}

.nav__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  padding: 0 1rem;
}

.footer__link {
  color: var(--link-color-alt);
  text-decoration: none;
}

.footer__address-contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--text-color-alt);
}

.footer__address-p {
  line-height: 1.3;
}

.footer__address,
.footer__social-media {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__contact {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.footer_contact-link {
  color: var(--link-color-alt);
  text-decoration: none;
}

.footer-social-media-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.nav__container {
  margin-left: 20px;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer__address-contact,
.footer__social-media,
.footer__copyright {
  padding: 1.5rem;
}

.footer__button {
  color: var(--text-color-alt);
}

.footer__button:hover {
  color: var(--text-color);
}

@media (max-width: 720px) {
  .footer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border-radius: 0;
  }

  .footer__nav {
    width: 90%;
  }

  .footer__address {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
  }

  .redes-sociais {
    width: 50%;
  }

  .paragrafo-live {
    width: 100%;
  }

  .rodape-sorteios {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90%;
  }
}
