@import url(./default.css);

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 50px 30px;
    width: 100%;
}

table {
    width: 80%;
    border-collapse: collapse;
    overflow-x: auto;
    margin-top: 10px;
}

table td img {
    width: 150px;
    height: 80px;
}

thead {
    background-color: lightgray;
    padding: 1.5rem;
}

th,
td {
    padding: 1rem;
    border: 1px solid black;
    text-align: left;
}

.hover-cor:hover {
    background-color: var(--green);
}

table a {
    text-decoration: none;
    color: #094bcc;
    ;
}

table a:hover {
    text-decoration: underline;
    color: var(--link-selected);
}

.none {
    display: none;
}

@media (max-width: 720px) {
    #table-destaques {
        overflow-x: auto;
    }

    h1 {
        font-size: 22px;
    }


    #container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 10px;
    }

    table {
        width: 100%;
        margin-top: -50px;
    }

    th,
    td {
        /* display: block; */
        width: 100%;
        border: 1px solid #ddd;
    }

    tr {
        border: 3px solid var(--border-color);
    }

    #button-novo-destaque{
        margin-bottom: 100px;
    }
}