fieldset {
  /* border: 2px solid lightgray; */
  border: none;
  width: 100%;
  margin: 20px auto 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 25px;
  border-radius: 50px;
  height: 400px;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

.button-container > button{
  margin: 0rem 0.4rem 0rem;
}
