.header {
  grid-row: 1/2;
  grid-column: 1/-1;

  height: fit-content;
  width: 100vw;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5rem 3rem;
}

.header-admin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.header__nav-admin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
}

.header__nav {
  grid-column: 3/4;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header__nav .b {
  font-weight: bold;
  font-size: 1.3rem;
  width: fit-content;
  height: fit-content;
  padding: 0.8rem 0.7rem;
}

.header__figure-img {
  /* width: 300px;
    height: 40px; */
  min-width: 100px;
  max-width: 25rem;
}

.header__nav-a {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  width: max-content;
}

.header__nav-a:hover {
  color: var(--green);
  text-decoration: underline;
}
.header__nav-dropbtn {
  background-color: #fff;
  color: #000000;
  padding: 16px;
  border: none;
  cursor: pointer;
  width: max-content;
}

.header__nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.header__nav-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header__nav-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.header__nav-dropdown:focus-within .header__nav-dropdown-content {
  display: block;
}

.header__nav-dropdown:focus-within .header__nav-dropbtn {
  /* background-color: #3e8e41; */
}
@media (max-width: 1024px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__nav {
    grid-column: span 1;
    border-radius: 0;
    height: fit-content;
  }
}
