h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

.main {
  height: 100vh;
}

.section__admin {
  display: flex;
  /* width: fit-content; */
  /* height: 100%; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  /* border: 1px solid whitesmoke;
  box-shadow: 2px 2px 5px #d3d3d380; */
  /* padding: 4rem; */
  border-radius: 2rem;
}

.section__admin ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  flex-direction: column;
  gap: 0.5rem;
}
.section__admin li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  vertical-align: center;
  border: 1px solid whitesmoke;
  box-shadow: 2px 2px 5px #d3d3d380;
  padding: 1rem;
  border-radius: 0.25rem;
}

.section__admin a {
  text-decoration: none;
  color: #020202;
  font-size: 1.5rem;
}

.section__admin a:hover {
  text-decoration: underline;
}

.section__admin svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--blue);
}

@media (max-width: 682px) {
  .section__admin ul {
    grid-template-columns: 1fr;
  }
}
