@import url(./default.css);

:root {
  --icon-size: 9rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

.area_admin{
  display: grid;
  grid-template-rows: 30%;
}

.section__title {
  text-align: center;
  font-size: 2rem;
}

.section__title a {
  text-decoration: none;
  color: var(--link-color);
}

.section__title a:hover {
  text-decoration: underline;
}

.area_admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 75rem; /* Aproximadamente 1200px */
}

.section_image,
.section__title {
  flex: 1;
  text-align: center;
}

.section_image img {
  max-width: var(--icon-size);
  height: auto;
}

.section__title{
  margin-bottom: 4rem;
}

.title_area_adm{
  margin-bottom: 1rem;
}


@media (max-width: 768px) {
  .section_image img {
    width: 70px;
  }
  .section__title {
    font-size: 18px;
  }
  main h1 {
    font-size: 26px;
  }
}