@import url(./default.css);

input:-webkit-autofill {
  background-color: inherit;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
}

.header img {
  width: 400px;
  height: 60px;
}

.main {
  display: flex;
  width: 100%;
  align-items: center;
  width: max-content;
  flex-direction: column;
}



.form__fieldset {
  display: flex;
  border: 2px solid lightgray;
  margin: 20px auto 100px auto;
  padding: 30px;
  width: 50%;
  height: 450px;
  border-radius: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.form__legend {
  display: none;
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem 0;
  width: 50%;
  font-size: 1.0rem;
  color: var(--black);
}

.form__link {
  font-size: 0.8rem;
  text-align: right;
  text-decoration: none;
  color: var(--link-color);
}

.form__link:hover {
  text-decoration: underline;
}

.first-access {
  font-size: 1.2rem;
  text-align: center;
}
