input:-webkit-autofill {
  background-color: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  /* padding: 64px 56px 0 56px; */
  padding: 0 2rem;
  width: max-content;
  /* height: 43rem; */
  height: 25rem;
  flex-direction: column;
  box-shadow: var(--shadow);
}

.header__title {
  font-size: 2rem;
  color: var(--header-color);
  text-align: center;
  font-weight: normal;
  /* margin: 0 0 96px 0; */
  margin: 2rem 0;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form__legend {
  display: none;
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem 0;
  width: fit-content;
  font-size: 1rem;
  color: #9e9e9e;
}

.form__label input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--input-background-color);
  height: 2.5rem;
  width: 30rem;
  font-size: 1rem;
}

.form__submit-button {
  border: none;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 30rem;
  background-color: var(--button-background-color);
  font-size: 1rem;
  color: var(--submit-button-color);
}

.form__link {
  font-size: 0.8rem;
  text-align: right;
  text-decoration: none;
  color: var(--link-color);
}

.form__link:hover {
  text-decoration: underline;
}

.first-access {
  font-size: 1.5rem;
  text-align: center;
}

fieldset {
  border: none;
}
