body {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.pesquisa input {
    width: 250px;
    height: 32px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    background-color: var(--input-background-color);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    width: 70%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid var(--border-color);
}

.alternado {
    background-color: var(--input-background-color);
}

table a {
    text-decoration: none;
    color: rgb(0, 0, 98);
}

table a:hover {
    text-decoration: underline;
}

#button-nova-marca {
    width: 170px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--button-background-color);
    color: #000000;
    cursor: pointer;
    font-size: 14px;
}

#button-nova-marca:hover {
    background-color: #555252;
    color: #ffffff;
}

.none {
    display: none;
}

@media (max-width: 720px) {
    #table-marcas {
        overflow-x: auto;
    }

    #container {
        width: 100%;
    }

    th,
    td {
        display: block;
        width: 100%;
        border: 1px solid #ddd;
    }

    tr {
        border: 3px solid var(--border-color);
    }

}