
#logo-marcas-parceiras {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #logo-marcas-parceiras img {
    width: 248px;
    height: 200px;
    padding: 3.25rem;
  }
  
  @media (max-width: 375px) {
    #logo-marcas-parceiras img {
      width: 14rem;
      height: 8rem;
      padding: 0.8rem;
    }
  }