body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    
    border: 1px solid var(--border-color);
    border-collapse: collapse;
}

.table__head {
    background-color: lightgray;
}

.table__head-th{
}

th, td {
    padding: 1rem;
    border: 1px solid black;
    text-align: left;
}