@import url(./default.css);

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

h1 {
  text-align: center;
}

#form-legend {
  display: none;
}

main {
  margin: 20px auto 50px auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
  padding: 1rem;
  border: none;
}

input,
select,
button {
  width: 640px;
}

#div-button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#preview-premio {
  width: 320px;

}

.container-excluir {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150%;
  gap: 20px;
  border-radius: 40px;
  border: 2px solid var(--border-color);
  padding: 40px 20px;  
  height: 400px;
}

.confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  height: 250px;
}

.confirm-button {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}


@media (max-width: 720px) {

  .header-marca {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
  }

  main {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 50%;
  }

  h1 {
    font-size: 20px;
  }

  input,
select {
  width: 80%;
}
}