
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 560px;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  padding: 2rem;
}

.form__legend {
  display: none;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__input {
  background-color: var(--input-color);
  border: none;
  height: 2rem;
  border-radius: 0.5rem;
}